head{
    background-color: rgb(111, 189, 241);
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.judul{
    display: flex;
    align-items: center;
    gap: 15px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20 px;
    background-color:rgb(255, 80, 202);
    color: azure;
    text-decoration: none;
}



.navigasi a{
    color: rgb(234,239,243);
    font-size: 24 px;
    gap: 15 px;
    text-decoration: none;
    margin-right: 30 px;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sambutan{
    font-size: 15 px;
}

.judul img{
    height: 40 px;
    border: radius 900px;
}

.map-container{
    width: 100 px;
    overflow: hidden;
    margin-top: 20 px;
}

iframe{
    text-align: center;
    color:rgb(0, 0, 0);
    background-color: black;
    padding: 20 px;
}

footer a {
    color: rgb(0, 0, 0);
    font-size: 15 px;
    gap: 15 px;
    text-decoration: none;
    margin-right: 30 px;
}

a:hover{
    color: rgb(5, 5, 5);
}

html{
    scroll-behavior: smooth;
}

.keren a{
    color:rgb(0,0,0);
    font-size: 17 px;
    gap: 15 px;
    text-decoration: none;
    margin-right: 30 px;
}